<a href="https://colab.research.google.com/github/mwithgod3952/Machine_Learning_Theory_jh/blob/master/Try_new_TIme_seriese_KalmanFilter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install git+https://github.com/strongio/torch-kalman.git#egg=torch_kalman

Collecting torch_kalman
  Cloning https://github.com/strongio/torch-kalman.git to /tmp/pip-install-4g35o4z9/torch-kalman
  Running command git clone -q https://github.com/strongio/torch-kalman.git /tmp/pip-install-4g35o4z9/torch-kalman
Requirement already satisfied: torch>=1.7 in /usr/local/lib/python3.7/dist-packages (from torch_kalman) (1.9.0+cu102)
Requirement already satisfied: numpy>=1.4 in /usr/local/lib/python3.7/dist-packages (from torch_kalman) (1.19.5)
Requirement already satisfied: tqdm>=4.0 in /usr/local/lib/python3.7/dist-packages (from torch_kalman) (4.41.1)
Collecting filterpy>=1.4
  Downloading https://files.pythonhosted.org/packages/f6/1d/ac8914360460fafa1990890259b7fa5ef7ba4cd59014e782e4ab3ab144d8/filterpy-1.4.5.zip (177kB)
     |████████████████████████████████| 184kB 5.5MB/s
Collecting lazy_object_proxy>=1.4
  Downloading https://files.pythonhosted.org/packages/6e/b0/f055db25fd68ab4859832a887c8b304274fc12dd5a3f8e83e61250733aeb/lazy_object_proxy-1.6.0-cp37-cp37m-manylinux1_x86_64.whl (55kB)
     |████████████████████████████████| 61kB 5.4MB/s
Collecting parameterized>=0.7
  Downloading https://files.pythonhosted.org/packages/31/13/fe468c8c7400a8eca204e6e160a29bf7dcd45a76e20f1c030f3eaa690d93/parameterized-0.8.1-py2.py3-none-any.whl
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch>=1.7->torch_kalman) (3.7.4.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from filterpy>=1.4->torch_kalman) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from filterpy>=1.4->torch_kalman) (3.2.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->filterpy>=1.4->torch_kalman) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->filterpy>=1.4->torch_kalman) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->filterpy>=1.4->torch_kalman) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->filterpy>=1.4->torch_kalman) (1.3.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->filterpy>=1.4->torch_kalman) (1.15.0)
Building wheels for collected packages: torch-kalman, filterpy
  Building wheel for torch-kalman (setup.py) ... done
  Created wheel for torch-kalman: filename=torch_kalman-0.2.0-cp37-none-any.whl size=49262 sha256=bc52f95568ae2f21970f6dbfc41a0c48070b76035ded97a26f3006f57eed147b
  Stored in directory: /tmp/pip-ephem-wheel-cache-96k6wru5/wheels/c3/d1/5c/107d5ce5f9c0b22fae87937666c02fab8513d936ff9f73f166
  Building wheel for filterpy (setup.py) ... done
  Created wheel for filterpy: filename=filterpy-1.4.5-cp37-none-any.whl size=110476 sha256=0a41301a983c7153765a5d5deaa34edd3ac8e00964196279a2203f8fe80d7848
  Stored in directory: /root/.cache/pip/wheels/c3/0c/dd/e92392c3f38a41371602d99fc77d6c1d42aadbf0c6afccdd02
Successfully built torch-kalman filterpy
Installing collected packages: filterpy, lazy-object-proxy, parameterized, torch-kalman
Successfully installed filterpy-1.4.5 lazy-object-proxy-1.6.0 parameterized-0.8.1 torch-kalman-0.2.0

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [3]:
import glob
import pandas as pd
import numpy as np

In [4]:
local_path = '/content/drive/MyDrive/PRSA2017_Data_20130301-20170228 (1)'
filenames = glob.glob(local_path + "/*.csv")
filenames

['/content/drive/MyDrive/PRSA2017_Data_20130301-20170228 (1)/PRSA_Data_Aotizhongxin_20130301-20170228.csv',
 '/content/drive/MyDrive/PRSA2017_Data_20130301-20170228 (1)/PRSA_Data_Changping_20130301-20170228.csv',
 '/content/drive/MyDrive/PRSA2017_Data_20130301-20170228 (1)/PRSA_Data_Dingling_20130301-20170228.csv',
 '/content/drive/MyDrive/PRSA2017_Data_20130301-20170228 (1)/PRSA_Data_Dongsi_20130301-20170228.csv',
 '/content/drive/MyDrive/PRSA2017_Data_20130301-20170228 (1)/PRSA_Data_Guanyuan_20130301-20170228.csv',
 '/content/drive/MyDrive/PRSA2017_Data_20130301-20170228 (1)/PRSA_Data_Gucheng_20130301-20170228.csv',
 '/content/drive/MyDrive/PRSA2017_Data_20130301-20170228 (1)/PRSA_Data_Huairou_20130301-20170228.csv',
 '/content/drive/MyDrive/PRSA2017_Data_20130301-20170228 (1)/PRSA_Data_Nongzhanguan_20130301-20170228.csv',
 '/content/drive/MyDrive/PRSA2017_Data_20130301-20170228 (1)/PRSA_Data_Shunyi_20130301-20170228.csv',
 '/content/drive/MyDrive/PRSA2017_Data_20130301-20170228 (1)/PRSA_Data_Tiantan_20130301-20170228.csv',
 '/content/drive/MyDrive/PRSA2017_Data_20130301-20170228 (1)/PRSA_Data_Wanliu_20130301-20170228.csv',
 '/content/drive/MyDrive/PRSA2017_Data_20130301-20170228 (1)/PRSA_Data_Wanshouxigong_20130301-20170228.csv']

In [11]:
multiple_df_aq = [pd.read_csv(x) for x in filenames]

print("12개 지역별 Air Quality Data 저장구조 : ", np.shape(multiple_df_aq))
print("Columns of each dataframe : ", multiple_df_aq[int(np.random.randint(13, size=1))].columns)

12개 지역별 Air Quality Data 저장구조 :  (12, 35064, 18)
Columns of each dataframe :  Index(['No', 'year', 'month', 'day', 'hour', 'PM2.5', 'PM10', 'SO2', 'NO2',
       'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN', 'wd', 'WSPM', 'station'],
      dtype='object')

In [ ]:
n = 0

for df_aq in multiple_df_aq:
    ds = []
    for i in range(len(df_aq)):
        ds.append(pd.to_datetime(str(df_aq.iloc[i,:]['year']) +  "-" + str(df_aq.iloc[i,:]['month']) + "-" + str(df_aq.iloc[i,:]['day'])).strftime("%Y-%m-%d"))
    multiple_df_aq[n]["ds"] = ds
    multiple_df_aq[n] = multiple_df_aq[n].drop(['No', 'year', 'month',	'day',	'hour'], axis = 1)

    # '열' 재배치
    cols = multiple_df_aq[n].columns.tolist()
    cols.remove('ds')
    multiple_df_aq[n] = multiple_df_aq[n][sum([['ds'], a], [])]

    n = n + 1

In [ ]:
T = multiple_df_aq[0].copy()
T.groupby('ds').mean()

                 PM2.5        PM10        SO2  ...       DEWP  RAIN      WSPM
ds                                             ...
2013-03-01    7.125000   10.750000  11.708333  ... -18.745833   0.0  3.254167
2013-03-02   30.750000   42.083333  36.625000  ... -15.937500   0.0  1.479167
2013-03-03   76.916667  120.541667  61.291667  ... -12.316667   0.0  1.658333
2013-03-04   22.708333   44.583333  22.869565  ... -11.683333   0.0  2.404167
2013-03-05  148.875000  183.791667  93.875000  ...  -7.525000   0.0  1.129167
...                ...         ...        ...  ...        ...   ...       ...
2017-02-24   21.541667   32.625000  16.583333  ... -11.141667   0.0  1.595833
2017-02-25   11.208333   19.708333   6.750000  ... -10.754167   0.0  1.825000
2017-02-26   28.125000   40.708333  10.083333  ...  -8.258333   0.0  1.566667
2017-02-27   71.954545   94.863636  18.809524  ...  -7.145833   0.0  1.516667
2017-02-28   13.166667   23.291667   9.125000  ... -12.783333   0.0  2.058333

[1461 rows x 11 columns]

In [ ]:
pd.to_datetime(T['ds']) + pd.to_timedelta(7, unit='d')

0       2013-03-08
1       2013-03-08
2       2013-03-08
3       2013-03-08
4       2013-03-08
           ...
35059   2017-03-07
35060   2017-03-07
35061   2017-03-07
35062   2017-03-07
35063   2017-03-07
Name: ds, Length: 35064, dtype: datetime64[ns]

In [ ]:
df['Date'] = pd.to_datetime(df['Date']) - pd.to_timedelta(7, unit='d')
df = df.groupby(['Name', pd.Grouper(key='Date', freq='W-MON')])['Quantity']
       .sum()
       .reset_index()
       .sort_values('Date')